.menu {
  z-index: 200;
  height: 54px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 25px;
  right: 25px;
  ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    li {
      cursor: pointer;
      display: flex;
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
      }
      .current-section {
        transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
        height: 10px;
        border-radius: 10px;
        margin: 10px 0px 0px 3px;
        opacity: 0;
      }
    }
    li:not(:last-child) {
      padding-right: 30px;
    }
    li:last-child {
      padding-right: 10px;
      a {
        padding: 10px 15px;
        i {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .menu {
    display: none;
  }
}
