.menu {
  z-index: 200;
  height: 54px;
  display: flex;
  align-items: center;
  ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
    li {
      cursor: pointer;
      display: flex;
      a {
        text-decoration: none;
        display: flex;
      }
      .current-section {
        transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
        height: 10px;
        border-radius: 10px;
        margin: 10px 0px 0px 3px;
        opacity: 0;
      }
    }
  }
  button {
    padding: 10px 15px;
    i {
      margin-right: 10px;
    }
  }
}

@media (max-width: 900px) {
  .menu {
    height: 100%;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu {
    &.open {
      right: 0px !important;
      transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    &.closed {
      right: 100vw;
      transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
  }
}

@media (min-width: 901px) {
  #hamburger {
    display: none;
  }
  .menu {
    position: fixed;
    top: 25px;
    right: 25px;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    li:not(:last-child) {
      padding-right: 30px;
    }
    li:last-child {
      padding-right: 10px;
    }
  }
}
