@media (max-width: 900px) {
  .sidemenu {
    left: -101px;
  }
}

@media (min-width: 901px) {
  .sidemenu {
    left: 0;
  }
}

.sidemenu {
  background-color: black;
  position: fixed;
  height: 100vh;
  width: 100px;
  border-right: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  z-index: 100;
  transition: left 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    i.fa-long-arrow-alt-up,
    i.fa-long-arrow-alt-down {
      font-size: 30px;
      color: white;
    }
  }
  .pages {
    padding: 20px 0px;
    text-align: center;
    color: white;
    font-weight: 600;
  }
  .menu {
    // position: absolute;
    // top: 50%;
    display: flex;
    align-items: center;
  }
  .bottom-section {
    margin: 25px 0px;
    .social {
      margin-bottom: 25px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social {
    font-size: 20px;
    line-height: 40px;
    // position: absolute;
    // bottom: 25px;
  }
}
