.social {
  // position: fixed;
  // right: 50px;
  // bottom: 30px;
  z-index: 2;
  line-height: 60px;
  width: 30px;
  font-size: 30px;
  text-align: center;
}

.social > svg {
  cursor: pointer;
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 999px) {
  .social {
    // display: flex;
    // justify-content: space-around;
    // left: 0px;
    // right: 0px;
    // bottom: 0px;
    // width: unset;
  }
}
/* Small devices (tablets, 768px and up) */
@media (max-width: 991px) {
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
}
