@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

/* === Base Site Stylings === */
@import "base/_global";
@import "base/_layout";
@import "base/_theme";
@import "base/_typography";
@import "base/_header";

/* === Component Stylings === */
@import "components/_menu";
@import "components/_project-card";
@import "components/_social-links";
@import "components/_color-mode-selector";
@import "components/_sidemenu";
