$image-ratio: 75%;

section {
  display: grid;
  margin: 0px auto;
  &.hero {
    position: relative;
    min-height: 100vh;
    h1 {
      align-self: center;
    }
  }
  &.about-me {
    min-height: 50vh;
    p {
      padding-right: 50px;
    }
    .image {
      height: 100%;
    }
  }
  &.portfolio {
    .projects {
      margin-top: 50px;
      display: grid;
      grid-gap: 50px;
    }
  }
  &.experiments {
    .experiments-container {
      margin-top: 50px;
      display: grid;
      .experiment {
        padding-top: $image-ratio;
      }
    }
  }
  &.contact {
    margin-bottom: 100px;
    form {
      margin-top: 50px;
      display: grid;
      input {
        height: 25px;
      }
      button {
        margin-top: 40px;
        height: 50px;
      }
    }
  }
}

@media (max-width: 999px) {
  section:not(:first-child) {
    padding-top: 75px;
  }
  section {
    grid-template-columns: 1fr !important;
    &.hero {
      br {
        display: none;
      }
    }
    &.about-me {
      .image {
        display: none;
      }
      p {
        padding: 0px;
      }
    }
    &.contact {
      form {
        grid-gap: 5px;
        input {
          margin-bottom: 25px;
          height: 25px;
        }
      }
    }
    &.portfolio {
      .projects {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        display: grid;
        grid-gap: 25px;
      }
    }
    &.experiments {
      .experiments-container {
        grid-gap: 25px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }
    }
  }
}

@media (max-width: 1200px) and (min-width: 1000px) {
  section {
    &.about-me {
      grid-template-columns: 185px 1fr 1fr;
      h2.stroked {
        grid-column-start: 1;
        grid-row-start: 1;
      }
      h2 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
      }
      p {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
      }
      .image {
        grid-column-start: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-gap: 10px;
        overflow: hidden;
      }
    }
  }
}

@media (min-width: 1000px) {
  section:not(:first-child) {
    padding-top: 100px;
  }
  section {
    grid-template-columns: 185px 1fr;
    grid-template-rows: 100px auto;
    &.hero {
      display: flex;
      justify-content: center;
      .logo {
        grid-column-start: 1;
        grid-row-start: 2;
      }
      button {
        grid-column-start: 2;
        grid-row-start: 2;
      }
      h1 {
        grid-column-start: 2;
        grid-row-start: 2;
      }
    }
    &.portfolio {
      p {
        grid-column-start: 2;
        grid-row-start: 2;
      }
      .projects {
        grid-column-start: 2;
      }
    }
    &.experiments {
      p {
        grid-column-start: 2;
        grid-row-start: 2;
      }
      .experiments-container {
        grid-column-start: 2;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
      }
    }
    &.contact {
      p {
        grid-column-start: 2;
        grid-row-start: 2;
      }
      input {
        font-size: 16px;
      }
      form {
        grid-column-start: 2;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px 25px;
        input {
          margin-bottom: 15px;
        }
        label[for="name"] {
          grid-column-start: 1;
          grid-row-start: 1;
        }
        input#name {
          grid-column-start: 1;
        }
        label[for="email"] {
          grid-column-start: 2;
          grid-row-start: 1;
        }
        label[for="subject"] {
          grid-column-start: 1;
          grid-row-start: 3;
        }
        input#subject {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 4;
        }
        label[for="message"] {
          grid-column-start: 1;
          grid-row-start: 5;
        }
        textarea {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 6;
        }
        button {
          grid-row-start: 7;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  section {
    width: 1000px;
    &.about-me {
      grid-template-columns: 185px 1fr 1fr;
      h2.stroked {
        grid-column-start: 1;
        grid-row-start: 1;
      }
      h2 {
        grid-column-start: 2;
        grid-row-start: 1;
      }
      p {
        grid-column-start: 2;
        grid-row-start: 2;
      }
      .image {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-gap: 10px;
      }
    }
  }
}
